body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* White background */
    color: #333333; /* Dark text for readability */
}

.container {
    max-width: 80%;
    margin: 2px auto;
    padding: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    background-color: #f9f9f9; /* Light grey background */
    border-radius: 8px; /* Rounded corners */
}

h1, h2 {
    color: #0056b3; /* Blue color */
}

#game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#game img {
    width: 500px;
    margin: 3px;
    border: 3px solid #0056b3; /* Blue border */
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

#game img:hover {
    transform: scale(1.1); /* Slightly scale up on hover */
    cursor: pointer;
}

#name {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: #0056b3; /* Blue color */
}

#department {
    font-size: 18px;
    color: #555555;
    margin-bottom: 20px;
    display: none; /* Initially hidden */
}

#score {
    font-size: 20px;
    font-weight: bold;
    color: #28a745; /* Green color */
    background-color: #e2e6ea; /* Light grey background */
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    z-index: 1; /* Ensure it's above other elements */
}

#play-again-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    z-index: 2; /* Above the overlay */
    align-items: center;
    justify-content: center;
}

#play-again-box p {
    font-size: 24px;
    margin-bottom: 20px;
}

#play-again-box button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
